<html>
    <title>Kody's page</title>
    <body>
        <h2>Page of Kody</h2>
        <hr>
        <ul>
            <% ['dolphins', 'tigers', 'pigs', 'platypus'].each do |ani| %>
            <li>I think <%= ani %> are awesome!</li>
            <% end %>
        </ul>
    </body> 
</html>
